{% extends "base.html" %}
{% load static %}
{% load reviews_tools %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'reviews/css/reviews.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font mb-4">Reviews</h2>
        </div>
    </div>
    <div class="row">
        <div class="reviews-container col-10 offset-1">
            <div class="reviews d-flex flex-row flex-wrap justify-between">
                {% for review in reviews %}
                <div
                    class="review border p-3 flex-grow-1 flex-shrink-1
                    {% if forloop.last and forloop.counter|modulo:2 == 1 %}review-half-size{% endif %}">
                    <div class="row">
                        <div class="col-3">
                            {% if review.product.image %}
                            <a class="product-image-link" href="{% url 'review' review.id %}">
                                <img class="card-img-top img-fluid" src="{{ review.product.image.url }}"
                                    alt="{{ review.product.name }}">
                            </a>
                            {% else %}
                            <a href="{% url 'review' review.id %}">
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                    alt="{{ review.product.name }}">
                            </a>
                            {% endif %}
                        </div>
                        <div class="col-9">
                            <a class="text-link" href="{% url 'review' review.id %}">
                                <h3>{{ review.title }}</h3>
                            </a>

                            <p class="mb-0">A review of {{ review.product.name }}</p>

                            {% if review.author %}
                            <small class="text-muted">By: {{ review.author }}</small><br>
                            {% endif %}

                            <a class="text-link" href="{% url 'review' review.id %}">Read now</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="btn-button shadow-sm rounded-0 border border-black">
        <a class="btn-link d-flex h-100">
            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
        </a>
    </div>
    {% endblock %}

    {% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('.btn-link').click(function (e) {
            window.scrollTo(0, 0)
        })
    </script>
    {% endblock %}