<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="d-md-none logo-font font-weight-bold nav-link text-black" href="{% url 'home' %}"
                id="home-link">
                Home
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=author&direction=asc" class="dropdown-item">By Author</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="books-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Books
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="books-link">
                <a href="{% url 'products' %}?category=classics" class="dropdown-item">Classics</a>
                <a href="{% url 'products' %}?category=fiction" class="dropdown-item">Fiction</a>
                <a href="{% url 'products' %}?category=non_fiction" class="dropdown-item">Non Fiction</a>
                <a href="{% url 'products' %}?category=fantasy" class="dropdown-item">Fantasy</a>
                <a href="{% url 'products' %}?category=classics,fiction,non_fiction,fantasy" class="dropdown-item">All Books</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="stationery-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Stationery
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="stationery-link">
                <a href="{% url 'products' %}?category=journals_and_planners" class="dropdown-item">Journals &amp; Planners</a>
                <a href="{% url 'products' %}?category=notebooks" class="dropdown-item">Notebooks</a>
                <a href="{% url 'products' %}?category=journals_and_planners,notebooks" class="dropdown-item">All Stationery</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black" href="{% url 'customer_enquiry' %}" id="contact-us-link">
                Contact Us
            </a>
        </li>
    </ul>
</div>